/* app css stylesheet */

.title-text {
	font-family: "Rock Salt", RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
}

.progress-dialog md-progress-circular {
	margin: auto;
}

.element-container {
	padding-top: 8px;
	margin-left: -8px;
	margin-right: -8px;
}

.element {
	display: flex;
	flex-direction: column;
	padding: 8px 8px;
}

.element h4 {
	margin: 0px;
	font-weight: 400;
	font-size: 0.8em;
	text-align: center;
}

.element p {
	margin: 0px;
	text-align: center;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.summary-container .element {
	margin-left: 16px;
	margin-right: 16px;
}

.summary-container .element h4 {
	font-size: 1.2em;
}

.summary-container .element p {
	font-size: 2em;
}

.element md-checkbox {
	margin: auto;
}

md-card.fab-card md-card-content {
	position: relative;
}

md-card.fab-card md-card-content button.md-fab {
	position: absolute;
	right: 12px;
	bottom: 12px;
}

.icon-24 {
	width: 24px;
	height: 24px;
}

.required-field-marker {
	font-weight: bold;
}

@media (max-width: 600px) {
	.btn-agreement {
		margin-top: -6px;
		margin-bottom: 35px;
	}
}

@media (max-width: 420px) {
	[layout-vsm] {
		box-sizing: border-box;
		display: flex;
	}

	[layout-vsm=column] {
		flex-direction: column;
	}
	[layout-vsm=column]  [flex-vsm="100"] {
		max-width: 100%;
	}

	[layout=row] > [flex-vsm="50"] {
		max-width: 50%;
	}
	[flex-vsm="50"] {
		flex: 0 0 50%;
	}
}

@media print {
	md-card{
		margin: 0px;
	}
	md-card md-card-content {
		padding-bottom: 0px;
	}
	.print-button {
		display: none;
	}
}
