<div layout="row" layout-align="center">
	<md-card flex-gt-lg="66" flex="90">
		<md-card-content>
			<md-toolbar><h2 class="md-toolbar-tools"><span>Administration Interface</span></h2></md-toolbar>
			<ul>
				<li><a href="/admin/recordlist">List of all entered groups</a></li>
				<li><a href="/admin/registeredlist">List of all officially registered groups</a></li>
				<li><a href="/admin/waitinglist">List of all groups on the waiting list</a></li>
			</ul>
		</md-card-content>
	</md-card>
</div>
