table.recordlist {
	width: 100%;
	margin-top: 1em;
}

table.recordlist thead tr {
	border-bottom: solid 1px;
}

table.recordlist tr:nth-child(odd) td {
	background-color: #FFEBEE;
}

@media print {
	table.recordlist td:last-child, table.recordlist th:last-child {
		display: none;
	}
}
