<div layout="row" layout-align="center">
	<md-card flex-gt-lg="70" flex="90">
		<md-card-content>
			<md-toolbar><h2 class="md-toolbar-tools"><span>Registered group list</span></h2></md-toolbar>
			<table class="recordlist">
				<thead>
					<tr>
						<th>Place</th>
						<th>Council</th>
						<th>Group</th>
						<th>Pack</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Phone Number</th>
						<th>Page</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in registrations">
						<td>{{item.waitingListPos}}</td>
						<td>{{item.council}}</td>
						<td>{{item.groupName}}</td>
						<td>{{item.packName}}</td>
						<td>{{item.contactLeaderFirstName}}</td>
						<td>{{item.contactLeaderLastName}}</td>
						<td>{{item.contactLeaderEmail}} <span ng-show="item.validatedEmail()">(Verified)</span></td>
						<td>{{item.contactLeaderPhoneNumber}}</td>
						<td><a href="/registration/{{item.securityKey}}">Page</a></td>
					</tr>
				</tbody>
			</table>
		</md-card-content>
	</md-card>
</div>
