/* app css stylesheet */

.progress-dialog md-progress-circular {
	margin: auto;
}

.form-redisplay {
	padding: 16px;
}

.form-redisplay h4 {
	margin: 0px 0px 3px;
	font-weight: 400;
	font-size: 0.8em;
}

.form-redisplay p {
	margin: 0px;
	text-align: center;
}

@media (max-width: 600px) {
	.btn-agreement {
		margin-top: -15px;
		padding-top: 0px;
		margin-bottom: 20px;
	}
}
