<div layout="row" layout-align="center">
	<md-card flex-gt-lg="66" flex="90">
		<md-card-content>
			<md-toolbar><h2 class="md-toolbar-tools"><span>Number of pre-registered attendees</span></h2></md-toolbar>
			<div layout="row" layout-sm="column" layout-align="center" class="element-container summary-container">
				<div class="element" flex-sm="60" flex-vsm="50">
					<h4>Youth</h4>
					<p id="youthCount">{{summary.youthCount}}</p>
				</div>
				<div class="element" flex-sm="30" flex-vsm="50">
					<h4>Leaders</h4>
					<p id="leaderCount">{{summary.leaderCount}}</p>
				</div>
			</div>
		</md-card-content>
	</md-card>
</div>
