<div layout="row" layout-align="center">
	<md-card flex-gt-lg="66" flex="90">
		<md-card-content>
			<md-toolbar><h2 class="md-toolbar-tools"><span><span class="title-text">CCJ'16</span> Cub Pack Registration Closed</span></h2></md-toolbar>
			<p>Due to the overwhelming response from Cub Scout packs across Canada, we are full to the brim.  Therefore, we are no longer able to accept applications for your participation.  The waiting list is now closed, and we regret that we cannot accept further registrations.  All groups that have registered, and had their deposits processed, will have received confirmation emails regarding this.  All groups on the waiting list will also have received an email with regards to their status on the list.<p>
			<p>Adults and Ventures who still wish to participate are encouraged and invited to join us as an Offer of Service.  Be part of the celebration, and join in.  Application forms can be found here:</p>
			<ul>
				<li><a href="//forms.cubjamboree.ca/CCJ16OOS-Registration-Form.pdf">Offer of Service Registration Form</a></li>
				<li><a href="//forms.cubjamboree.ca/CCJ16OOS-Daytripper-Registration-Form.pdf">Daytripper Offer of Service Registration Form</a></li>
			</ul>
		</md-card-content>
	</md-card>
</div>
