<div layout="row" layout-align="center">
	<md-card flex="66">
		<md-card-content>
			<md-toolbar><h2 class="md-toolbar-tools"><span>Group preregistration</span></h2></md-toolbar>
			<p>Complete all fields on your form to submit your Pack's registration for CCJ16.  You will receive an email requesting you to confirm your email address.  Once you confirm you email address, your preliminary application will be accepted.</p>
			<div layout="row" layout-align="center">
				<form layout="column">
					<div layout="row">
						<div layout="column">
							<h3>Group information</h3>
							<div layout="row">
								<md-input-container>
									<label>Council</label>
									<input type="text" ng-model="registration.council">
								</md-input-container>
								<md-input-container>
									<label>Group Name</label>
									<input type="text" ng-model="registration.groupName">
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container>
									<label>Pack Name</label>
									<input type="text" ng-model="registration.packName">
								</md-input-container>
							</div>
							<h3>Estimated Participant counts</h3>
							<div layout="row">
								<md-input-container>
									<label>Estimated Youth</label>
									<input type="number" ng-model="registration.estimatedYouth">
								</md-input-container>
								<md-input-container>
									<label>Estimated Leaders</label>
									<input type="number" ng-model="registration.estimatedLeaders">
								</md-input-container>
							</div>
						</div>
						<div layout="column">
							<h3>Contact Leader information</h3>
							<div layout="row">
								<md-input-container>
									<label>First Name</label>
									<input type="text" ng-model="registration.contactLeaderFirstName">
								</md-input-container>
								<md-input-container>
									<label>Last Name</label>
									<input type="text" ng-model="registration.contactLeaderLastName">
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container>
									<label>Email</label>
									<input type="email" ng-model="registration.contactLeaderEmail">
								</md-input-container>
								<md-input-container>
									<label>Phone Number</label>
									<input type="tel" ng-model="registration.contactLeaderPhoneNumber">
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container>
									<label>Address 1</label>
									<input type="text" ng-model="registration.contactLeaderAddress.address1">
								</md-input-container>
								<md-input-container>
									<label>Address 2</label>
									<input type="text" ng-model="registration.contactLeaderAddress.address2">
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container>
									<label>City</label>
									<input type="text" ng-model="registration.contactLeaderAddress.city">
								</md-input-container>
								<md-input-container>
									<label>Province</label>
									<input type="text" ng-model="registration.contactLeaderAddress.province">
								</md-input-container>
							</div>
							<div layout="row">
								<md-input-container>
									<label>Postal Code</label>
									<input type="text" ng-model="registration.contactLeaderAddress.postalCode">
								</md-input-container>
							</div>
						</div>
					</div>
					<div layout="row"><md-checkbox ng-model="registrationTosAccepted">I agree to receive emails from the CCJ16 team about the Cub Jamboree. (Required) </md-checkbox><md-button ng-click="showEmailTos($event)">Details</md-button></div>
					<md-button class="md-raised md-primary" ng-click="submitRegistration();" ng-disabled="!registrationTosAccepted">Submit registration</md-button>
				</form>
			</div>
		</md-card-content>
	</md-card>
</div>
